<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant name:</b>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <b>Street address:</b>
  <%= @restaurant.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
